body, html {
  margin: 0;
  padding: 0;
  cursor: none;
}
#text-editor {
  /* overflow: hidden; */
}
#svg-wrap {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
#textarea {
  position: fixed;
  bottom: -25px;
  left: -25px;
  width: 10px;
  height: 10px;
}
#biometric-sans-svg {
  /*border: 1px solid black;*/
  width: 100vw;
}
#download-form {
  position: fixed;
  top: 5px;
  right: 5px;
}
