body, html {
  margin: 0;
  padding: 0;
  cursor: none;
}
#text-editor {
  /* overflow: hidden; */
}
#svg-wrap {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}
#textarea {
  position: fixed;
  bottom: -25px;
  left: -25px;
  width: 10px;
  height: 10px;
}
#biometric-sans-svg {
  /*border: 1px solid black;*/
  width: 100vw;
}
#download-form {
  position: fixed;
  top: 5px;
  right: 5px;
}

#screensaver {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

#screensaver img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#screensaver img:last-child {
  -webkit-animation: flickerAnimation 1.5s infinite;
  -moz-animation: flickerAnimation 1.5s infinite;
  -o-animation: flickerAnimation 1.5s infinite;
   animation: flickerAnimation 1.5s infinite;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}