body, html {
  margin: 0;
  padding: 0;
}
#text-editor {
  overflow-y: scroll;
}
#textarea {
  position: fixed;
  bottom: -25px;
  left: -25px;
  width: 10px;
  height: 10px;
}
#svg {
  width: 100vw;
  height: 500vh;
}
